/pecuniam-remote/pecuniam-ea/pecuniam-ea-ejb/target/
/pecuniam-remote/pecuniam-ea/pecuniam-ea-web/target/
/pecuniam-remote/pecuniam-ea/pecuniam-ea-ear/target/
/pecuniam/pecuniam-domain/target/
/pecuniam/pecuniam-domain/nbproject/