<h2>{{user.loginName | uppercase}}</h2>
<div style="width: 253px;">
  <div class="row" >
    <div class="labelCell">
      <label>Login Name:</label>
    </div>
    <div>
      <input [(ngModel)]="user.loginName" placeholder="Login Name" >
    </div>
  </div>
  <div class="row" >
    <div class="labelCell">
      <label>Password:</label>
    </div>
    <div>
      <input [(ngModel)]="user.password" type="password" placeholder="Password" >
    </div>
  </div> 
  <div style="text-align: right; padding: 2px;">
    <button>Save</button>
    <button>Cancel</button>
  </div>
</div>